<div class="background-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "background_image_quiveutquoi.jpg"%>')">
  <button class="btn discover-btn"><%= link_to "Découvrir les objets", articles_path %></button>
</div>
