.navbar {
  justify-content: space-between;
  background-color: $green;
  a {
    color: white;
    font-size: 18px;
  }
}

.navbar-pages-link {
  display: flex;
}

#navbarDropdown {
  margin-left: 10px;
}

.dropdown-menu a {
    color: #4c4c4c;
}

